Dogecoin-Price Prediction using ml:

Dogecoin unlike cryptocurrencies like bitcoin and ethereum was built just because of a meme.

We will make a model to predict the price of the crypto currency.

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor

In [2]:
# now let's load the dataset for training.
df = pd.read_csv('/home/aaranyak/Documents/ml_projects/ml_projects/Dogecoin Price Prediction/DOGE-USD.csv')
df.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2017-11-09  0.001207  0.001415  0.001181  0.001415   0.001415  6259550.0
1  2017-11-10  0.001421  0.001431  0.001125  0.001163   0.001163  4246520.0
2  2017-11-11  0.001146  0.001257  0.001141  0.001201   0.001201  2231080.0
3  2017-11-12  0.001189  0.001210  0.001002  0.001038   0.001038  3288960.0
4  2017-11-13  0.001046  0.001212  0.001019  0.001211   0.001211  2481270.0

Note: The corr() method ignores "not numeric" columns.

In [7]:
# now let's check the correlation
df.shape
df1 = df.iloc[:,1:]  # i dropped the first column as we can't find the correlation by including first column as it is of string type.

In [8]:
df.shape

(1761, 7)

In [9]:
df1.shape

(1761, 6)

In [10]:
df1.corr()

               Open      High       Low     Close  Adj Close    Volume
Open       1.000000  0.993904  0.993707  0.992514   0.992514  0.554850
High       0.993904  1.000000  0.986497  0.995104   0.995104  0.619321
Low        0.993707  0.986497  1.000000  0.994575   0.994575  0.519991
Close      0.992514  0.995104  0.994575  1.000000   1.000000  0.588678
Adj Close  0.992514  0.995104  0.994575  1.000000   1.000000  0.588678
Volume     0.554850  0.619321  0.519991  0.588678   0.588678  1.000000